---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Teengirl%20Fantasy&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Teengirl+Fantasy&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6Y7sP6UmEue4Ym3m5HqK8X"
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X",
              "id" : "6Y7sP6UmEue4Ym3m5HqK8X",
              "images" : [ {
                "height" : 667,
                "url" : "https://i.scdn.co/image/2da84125e13a70b829c70dc8805435b77fa0e424",
                "width" : 1000
              }, {
                "height" : 427,
                "url" : "https://i.scdn.co/image/d0e6486eda444f3f8ab98b616f1f03ca456fc460",
                "width" : 640
              }, {
                "height" : 133,
                "url" : "https://i.scdn.co/image/c53af1861717184bc7ae5c34046c1ff9771c6546",
                "width" : 200
              }, {
                "height" : 43,
                "url" : "https://i.scdn.co/image/ee78289c911c5831dcc5599c04c88019e795bf45",
                "width" : 64
              } ],
              "name" : "Teengirl Fantasy",
              "popularity" : 18,
              "type" : "artist",
              "uri" : "spotify:artist:6Y7sP6UmEue4Ym3m5HqK8X"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/2QqaC0TjS0uYBEW2p5lzmd"
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/2QqaC0TjS0uYBEW2p5lzmd",
              "id" : "2QqaC0TjS0uYBEW2p5lzmd",
              "images" : [ ],
              "name" : "Teengirl Fantasy feat. Kelela",
              "popularity" [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X/albums?offset=0&limit=20&album_type=single,album,compilation,appears_on",
          "items" : [ {
            "album_type" : "album",
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "UY" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/7EnOEDA15T2WqWnlyGnlku"
            },
            "href"[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/7Hv1H2gslkkqC3meIsBolf/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/7Hv1H2gslkkqC3meIsBolf/tracks?offset=0&limit=50",
          "items" : [ {
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6Y7sP6UmEue4Ym3m5HqK8X"
              },
              "href" : "https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X",
              "id" : "6Y7sP6UmEue4Ym3m5HqK8X",
              "name" : "Teengirl Fantasy",
              "type" : "artist",
              "uri" : "spotify:artist:6Y7sP6UmEue4Ym3m5HqK8X"
            } ],
            "available_markets" : [ "AU", "CA", "US" ],
            "disc_number" : 1,
            "duration_ms" : 318693,
            "explicit" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/5c7PweZlIBNZWWpuuOVL4v"
            },
            "href" : "https://api.spotify.com/v1/tracks/5c7PweZlIBNZWWpuuOVL4v",
            "id" : "5c7PweZlIBNZWWpuuOVL4v",
            "name" : "Vibes",
            "preview_url" : "https://p.scdn.co/mp3-preview/8dbd14fbae21d7e5b1337faada002113a0f62609",
            "track_number" : 1,
            "type" : "track",
            "uri" : "spotify:track:5c7PweZlIBNZWWpuuOVL4v"
          }, {
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6Y7sP6UmEue4Ym3m5HqK8X"
              },
              "href" : "https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X",
              "id" : "6Y7sP6UmEue4Ym3m5HqK8X",
              "name" : "Teengirl Fantasy",
              "type" : "artist",
              "uri" :[...]
