---
http_interactions:
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Jack%20Dixon&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Jack+Dixon&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1cqhrS2tHbExtItWZjjYt8"
              },
              "followers" : {
                "href" : null,
                "total" : 577
              },
              "genres" : [ "future garage" ],
              "href" : "https://api.spotify.com/v1/artists/1cqhrS2tHbExtItWZjjYt8",
              "id" : "1cqhrS2tHbExtItWZjjYt8",
              "images" : [ {
                "height" : 640,
                "url" : "https://i.scdn.co/image/2588fff9969eacd795b09786ec17f8c2459c08fb",
                "width" : 640
              }, {
                "height" : 300,
                "url" : "https://i.scdn.co/image/4bff30d3dacfd70405f88cc745e9bbcbecfdacc6",
                "width" : 300
              }, {
                "height" : 64,
                "url" : "https://i.scdn.co/image/4af140a3a3bd52c1dbfec4e92458bd4076a03752",
                "width" : 64
              } ],
              "name" : "Jack Dixon",
              "popularity" : 12,
              "type" : "artist",
              "uri" : "spotify:artist:1cqhrS2tHbExtItWZjjYt8"
            }, {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/4wvZaCd4e7LqUZwELBFKtn"
              },
              "followers" : {
                "href" : null,
                "total" : 2
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/4wvZaCd4e7LqUZwELBFKtn",
              "id" : "4wvZaCd4e7LqUZwELBFKtn",
       [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1cqhrS2tHbExtItWZjjYt8/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/1cqhrS2tHbExtItWZjjYt8/albums?offset=0&limit=20&album_type=single,album,compilation,appears_on",
          "items" : [ {
            "album_type" : "album",
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
            "external_urls" : {
              "spotify" : "https://open.spotify.com/album/23WqsKpGXtpMr2ffQprI4f"
            },
      [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/31e41m0EO5VdgmHq6Hq5kv/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/31e41m0EO5VdgmHq6Hq5kv/tracks?offset=0&limit=50",
          "items" : [ {
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1cqhrS2tHbExtItWZjjYt8"
              },
              "href" : "https://api.spotify.com/v1/artists/1cqhrS2tHbExtItWZjjYt8",
              "id" : "1cqhrS2tHbExtItWZjjYt8",
              "name" : "Jack Dixon",
              "type" : "artist",
              "uri" : "spotify:artist:1cqhrS2tHbExtItWZjjYt8"
            } ],
            "available_markets" : [ "AD", "AR", "AT", "AU", "BE", "BG", "BO", "BR", "CA", "CH", "CL", "CO", "CR", "CY", "CZ", "DE", "DK", "DO", "EC", "EE", "ES", "FI", "FR", "GB", "GR", "GT", "HK", "HN", "HU", "IE", "IS", "IT", "LI", "LT", "LU", "LV", "MC", "MT", "MX", "MY", "NI", "NL", "NO", "NZ", "PA", "PE", "PH", "PL", "PT", "PY", "RO", "SE", "SG", "SI", "SK", "SV", "TR", "TW", "US", "UY" ],
            "disc_number" : 1,
            "duration_ms" : 448872,
            "explicit" : false,
            "external_urls" : {
              "spotify" : "https://open.spotify.com/track/3c7xCi2LPquTiopDJAVYNu"
            },
            "href" : "https://api.spotify.com/v1/tracks/3c7xCi2LPquTiopDJAVYNu",
            "id" : "3c7xCi2LPquTiopDJAVYNu",
            "name" : "E",
            "preview_url" : "https://p.scdn.co/mp3-preview/975231774f0ae4da74178dfaa645d6276e5768ea",
            "track_number" : 1,
            "type" : "track",
            "uri" : "spotify:track:3c7xCi2LPquTiopDJAVYNu"
          }, {
            "artists" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/1cqhrS2tHbExtItWZjjYt8"
              },
              "href" : "https://api.spotify.com/v1/artists/1cqhrS2tHbExtItWZjjYt8",
              "id" : "1cqhrS2tHbExtItWZjjYt8",
              "name" : "Jack Dixon",
              "type" : "artist",
              "uri" : "spot[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Flume&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Flume&offset=0&limit=20&type=artist",
            "items" : [ {
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6nxWCVXbOlEVRexSbLsTer/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6nxWCVXbOlEVRexSbLsTer/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Teengirl%20Fantasy&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Teengirl+Fantasy&offset=0&limit=20&type=artist",
  [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6Y7sP6UmEue4Ym3m5HqK8X/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/7Hv1H2gslkkqC3meIsBolf/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/7Hv1H2gslkkqC3meIsBolf/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Flying%20Lotus&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Flying+Lotus&offset=0&limit=20&type=artist",
          [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/29XOeO6KIWxGthejQqn793/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/29XOeO6KIWxGthejQqn793/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/40aG9ahuLnAv96yoFG75Uy/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJocmVmIiA6ICJodHRwczovL2FwaS5zcG90aWZ5LmNvbS92MS9hbGJ1
        bXMvNDBhRzlhaHVMbkF2OTZ5b0ZHNzVVeS90cmFja3M/b2Zmc2V0PTAm[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Samoyed&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Samoyed&offset=0&limit=20&type=artist",
            "items" : [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/20LHlz2t6j9rSbZVJY5Zv3/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/20LHlz2t6j9rSbZVJY5Zv3/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Four%20Tet&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Four+Tet&offset=0&limit=20&type=artist",
            "items[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7Eu1txygG6nJttLHbZdQOh/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7Eu1txygG6nJttLHbZdQOh/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/47xU6L9zZA2skXmjU8gn7n/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/47xU6L9zZA2skXmjU8gn7n/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Gold%20Panda&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Gold+Panda&offset=0&limit=20&type=artist",
            "i[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6xS3zemJD9h94iueQvGqVk/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6xS3zemJD9h94iueQvGqVk/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/1aROkMPnUiRDRVuv9x3iyg/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/1aROkMPnUiRDRVuv9x3iyg/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=The%20Orb%20feat.%20Lee%20%22Scratch%22%20Perry&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=The+Orb+feat.+Lee+%22Scratch%22+Perry&offset=0&limit=20&type=artist",
            "items" : [ ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 0
          }
        }
  recorded_at: Fri, 26 Dec 2014 17:27:42 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=DJ%20Tennis%20feat.%20Pillowtalk&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=DJ+Tennis+feat.+Pillowtalk&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/6SjnmZLH3K6fQdBG4eoaPW"
              },
              "followers" : {
                "href" : null,
                "total" : 14
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/6SjnmZLH3K6fQdBG4eoaPW",
              "id" : "6SjnmZLH3K6fQdBG4eoaPW",
              "images" : [ ],
              "name" : "DJ Tennis feat. Pillowtalk",
              "popularity" : 0,
              "type" : "artist",
              "uri" : "spotify:artist:6SjnmZLH3K6fQdBG4eoaPW"
            } ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 1
          }
        }
  recorded_at: Fri, 26 Dec 2014 17:27:42 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/6SjnmZLH3K6fQdBG4eoaPW/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/6SjnmZLH3K6fQdBG4eoaPW/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Trust&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Trust&offset=0&limit=20&type=artist",
            "items" : [ {
[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7qAWGH2Lb2uIXlZI36YRiO/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7qAWGH2Lb2uIXlZI36YRiO/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/1gSJT28p7lbGcySteJiEfD/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/1gSJT28p7lbGcySteJiEfD/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Matthew%20Dear&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Matthew+Dear&offset=0&limit=20&type=artist",
          [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/2GLf7iaOOujAem5R87xwto/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/2GLf7iaOOujAem5R87xwto/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/5v6DyivU7hPwCsUWPKpoZt/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/5v6DyivU7hPwCsUWPKpoZt/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Com%20Truise&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Com+Truise&offset=0&limit=20&type=artist",
            "i[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/2wouN3QXejYa5tKetYdcVX/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/2wouN3QXejYa5tKetYdcVX/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/1mh0Y9kHmDJgxVsfsAb6Jt/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/1mh0Y9kHmDJgxVsfsAb6Jt/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Falty%20DL&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Falty+DL&offset=0&limit=20&type=artist",
            "items" : [ {
              "external_urls" : {
                "spotify" : "https://open.spotify.com/artist/4WGjZpcSB0Fs6zU42MGPQE"
              },
              "genres" : [ ],
              "href" : "https://api.spotify.com/v1/artists/4WGjZpcSB0Fs6zU42MGPQE",
              "id" : "4WGjZpcSB0Fs6zU42MGPQE",
              "images" : [ ],
              "name" : "Falty DL",
              "popularity" : 0,
              "type" : "artist",
              "uri" : "spotify:artist:4WGjZpcSB0Fs6zU42MGPQE"
            } ],
            "limit" : 20,
            "next" : null,
            "offset" : 0,
            "previous" : null,
            "total" : 1
          }
        }
  recorded_at: Fri, 26 Dec 2014 17:27:45 GMT
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/4WGjZpcSB0Fs6zU42MGPQE/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/4WGjZpcSB0Fs6zU42MGPQE/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Calibro%2035&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Calibro+35&offset=0&limit=20&type=artist",
            "i[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7ueDbhgpZaiUxEbiHnwezi/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJocmVmIiA6ICJodHRwczovL2FwaS5zcG90aWZ5LmNvbS92MS9hcnRp
        c3RzLzd1ZURiaGdwWmFpVXhFYmlIbndlemkvYWxidW1zP29mZnNldD0wJmxp
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/4kmHMW678Cubb0XB9sSvC8/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/4kmHMW678Cubb0XB9sSvC8/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=The%20Chemical%20Brothers&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=The+Chemical+Brothers&offset=0&limit=20&type[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/1GhPHrq36VKCY3ucVaZCfo/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/1GhPHrq36VKCY3ucVaZCfo/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/71xFRXGpftjFF5esGPZCri/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/71xFRXGpftjFF5esGPZCri/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=The%202%20Bears&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=The+2+Bears&offset=0&limit=20&type=artist",
          [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/0tCMgjr8y7UKNmE3B1Uwbl/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/0tCMgjr8y7UKNmE3B1Uwbl/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/0DSCXv8rx9jJgdqZnJ2LH9/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/0DSCXv8rx9jJgdqZnJ2LH9/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=Jimmy%20Edgar&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=Jimmy+Edgar&offset=0&limit=20&type=artist",
            [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/3qIRQKST5KCIIKWgmPTY2M/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/3qIRQKST5KCIIKWgmPTY2M/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/5TBAsUj5QBOF20pF13oBIe/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/albums/5TBAsUj5QBOF20pF13oBIe/tracks?offset=0&limit=50",
          "items" : [ {
   [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/search?q=MNDR&type=artist
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "artists" : {
            "href" : "https://api.spotify.com/v1/search?query=MNDR&offset=0&limit=20&type=artist",
            "items" : [ {
  [...]
- request:
    method: get
    uri: https://api.spotify.com/v1/artists/7gQNLR8mykA1KjGClbPYHe/albums
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "href" : "https://api.spotify.com/v1/artists/7gQNLR8mykA1KjGClbPYHe/albums?offset=0&limit=20&album_type=single,album,compilation,[...]
- request:
    method: get
    uri: https://api.spotify.com/v1/albums/7EI2E2g9UyUCq0F3S3cMy1/tracks?limit=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
[...]
